$blue-brand: #4E92DF;
$blue-accent: #3D7DC5;
$blue-font: #4B90DE;

$white-brand: #FFFFFF;

$dark-grey: #ABB2BD;
$med-grey: #E0E5EE;
$light-grey: #EEF1F6;

$uploaded-bar: #C4DCA8;
$uploaded-font: #9CB37F;

$uploading-bar: #FAFBFC;
$uploading-font: #EAEAEE;

$uploading-progress-bar: #D4E4F5;

$upload-background: #F9FBFF;
